<div class="container content-center mx-auto my-16">
    <div class="grid grid-cols-2 gap5">
        <div class="shadow-lg border-2 border-gray-200 mx-5 bg-blue-50">
            <img [src]="imgURL" alt="">
            <h3 class="text-xl font-bold p-3">{{siteName}}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 py-5 bg-blue-200 text-blue-800 rounded-lg text-sm">
                    {{siteURL}}
                </div>
            </div>
        </div>
        <div class="px-20 py-10 mb-10 mx-5 shadow-lg border-2 border-gray-200 bg-blue-50 ml-5 h-auto">
            <h2 class="text-3xl text-center font-bold">Add New User & Password</h2>
            <p class="text-center">using the form below</p>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <div class="flex flex-col">
                    <label class="text-lg font-medium my-2">Email</label>
                    <input ngModel name="email" type="email" class="border-2 border-gray-200 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium my-2">Username</label>
                    <input ngModel name="username" type="username" class="border-2 border-gray-200 p-2 rounded-lg w-full">
                </div>
                <div class="flex flex-col">
                    <label class="text-lg font-medium my-2">Password</label>
                    <input ngModel name="password" type="password" class="border-2 border-gray-200 p-2 rounded-lg w-full">
                </div>
                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-blue-500 text-white shadow rounded-md">Add New Password</button>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-1 mt-10 mx-5">
        <table class="border-2 border-gray-200">
            <thead>
                <tr class="bg-blue-50 p-52 h-14 text-left">
                    <th class="border-2 border-gray-200 p-3">Email</th>
                    <th class="border-2 border-gray-200 p-3">Username</th>
                    <th class="border-2 border-gray-200 p-3">Password</th>
                    <th class="border-2 border-gray-200 p-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let password of allPasswordList | async" class="h-14">
                    <td class="border-2 border-gray-200 p-3">{{password.email}}</td>
                    <td class="border-2 border-gray-200 p-3">{{password.username}}</td>
                    <td class="border-2 border-gray-200 p-3">{{password.password}}</td>
                    <td class="border-2 border-gray-200 p-3">
                        <button class="mx-0.5 px-5 py-3 bg-blue-500 text-white shadow rounded-md">Edit</button>
                        <button class="mx-0.5 px-5 py-3 bg-red-500 text-white shadow rounded-md">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>